<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--https://www.w3schools.com/css/css_table.asp-->
    <style>
        h1{
            text-align:center;
        }
        form{
            text-align: center;

        }
        table{
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid;
        }
    </style>
</head>
<body>
    <h1> Awesome Assets </h1>

    <!--login form-->
    <form id = "login" action = "/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id = 'username' name="username"><br>
        <label for="password">Password:</label>
        <input type="text" id = 'password' name="password"><br>
        <input type="submit" name="loginbutton" value = "Login">
        <input type="submit" name="loginbutton" value = "create account">
    </form>

    <!--table of users-->
    <br><br>
    <table>
        <!--https://github.com/expressjs/express/blob/master/examples/ejs/views/users.html-->
        <tr>
            <th>username</th>
            <th>password</th>
        </tr>
        <% users.forEach(function(user){ %>
            <tr>
                <td><%= user['username']%></td>
                <td><%= user['password']%></td>
            </tr>
        <% }) %>
    </table>

</body>
</html>