<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Assets</title>
    <!--https://www.w3schools.com/howto/howto_css_dropdown.asp-->
    <style>
        h1{
            text-align: center;
        }
        .topnav{
            background-color:darkslategray;
        }
        .topnav a{
            font-size: 40px;
            color:azure;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
        }
        table{
            width: 50%;
            border-collapse: collapse;
            margin: auto;
        }
        table, th, td{
            border: 1px solid;
            font-size: 25px;
            text-align: center;
        }
        .ExchangeFilters{
            margin: auto;
            text-align: center;
        }
        form{
            text-align: center;
        }
    </style>
</head>
<body>

    <div class = "topnav">
        <a href="/">Logout</a>
        <a href="/deleteAccount">Delete Account</a>
        <a href="/market">Market</a>
        <a href="/account">Profile</a>
    </div>
    
    <h1>Market</h1>
    
    
    <!-- <div class="ExchangeFilters">
        <form>
            https://www.freecodecamp.org/news/html-select-tag-how-to-make-a-dropdown-menu-or-combo-list/
            <label for = "Exchanges">Exchange</label>
            <select name = "Exchanges">
                <option value="any">any</option>
                <% exchanges.forEach(function(exchange){ %>
                    <option value = "an exchange"><%= exchange.exchange%></option>
                    <% }) %>
            </select>
            
            <label for = "Asset Type">Asset Type</label>
            <select name = "Asset Type">
                <option value="any">any</option>
                <option value = "Stocks">Stocks</option>
                <option value = "Cryptos">Cryptos</option>
                <option value = "Commodities">Commodities</option>
            </select>

            <input type="text">
            <input type="submit" name="search_button" value="search">
        </form>
    </div> -->

    
    <br>


    <!-- <table>
        https://github.com/expressjs/express/blob/master/examples/ejs/views/users.html
        <tr>
            <th>Exchange</th>
            <th>Asset</th>
        </tr>
        <tr>
            <% listings.forEach(function(listing){ %>
                <tr>
                    <td><%= listing.exchange%></td>
                    <td><%= listing.asset%></td>
                </tr>
            <% }) %>
        </tr>
    </table> -->

    <h1>Make a trade</h1>
    <form>
        <label for = "asset">Asset</label>
        <select name = "asset">
            <% listings.forEach(function(listing) {%>
                <option value = 'an asset'><%=listing.asset%></option>
                <% }) %>
        </select>
        
        <label for = "quantity">quantity</label>
        <input type="number" name = "quantity">
        
        <select name = "buyOrSell">
            <option value = "buy">buy</option>
            <option value = "sell">sell</option>
        </select>
        
        <input type="submit" value="place order">
    </form>

</body>
</html>