<!--

    File: signup.ejs
    Name: Thomas van der Molen

    This file contains the HTML that will be shown to users when they want to create a new account

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Assets</title>
    <!--https://www.w3schools.com/css/css_table.asp-->
    <style>
        .topnav{
            background-color:darkslategray;
        }
        .topnav a{
            font-size: 40px;
            color:azure;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
        }
        h1{
            text-align:center;
        }
        form{
            text-align: center;

        }
        table{
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
        }
        table, th, td{
            border: 1px solid;
        }
    </style>
</head>
<body>
    <div class = "topnav">
        <a href="/signin">Log in</a>
    </div>

    <h1> Awesome Assets </h1>
    <h1>Sign up</h1>
    <!--login form-->
    <form id = "signUp" action = "/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id = 'username' name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id = 'password' name="password"><br>
        <input type="submit" name="loginbutton" value = "create account">

        <label for="createNewExchangeAccount">Sign up as an exchange owner</label>
        <input type="checkbox" name="createNewExchangeAccount">
    </form>

    <div>
        <p>Disclaimer: this site uses cookies</p>
    </div>

</body>
</html>